version: 2.1

executors:
  windows:
    machine:
      image: windows-server-2019-vs2019:stable

jobs:
  build:
    executor: windows
    steps:
      - checkout
      - run:
          name: Build Project
          command: |
            mkdir build
            cd build
            cmake ..
            cmake --build .
  test:
    executor: windows
    steps:
      - run:
          name: Run Hello World Test
          command: |
            C:\Users\stan1\CLionProjects\Pacman\cmake-build-debug\Pacman.exe
            echo "Hello World"

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build