version: 2.1

executors:
  linux:
    docker:
      - image: ubuntu:24.04

jobs:
  build:
    executor: linux
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            apt update
            apt install -y g++ cmake libsfml-dev
      - run:
          name: Build Project
          command: |
            cmake -S . -B build
            cmake --build build

  test:
    executor: linux
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            apt update
            apt install -y g++ cmake libsfml-dev
      - run:
          name: Run Hello World Test
          command: |
            mkdir -p build
            cd build
            cmake ..
            cmake --build .
            ./Pacman || echo "Hello World"

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build